h1
{
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

nav
{
    border-bottom: 1px solid #333133;
}

label
{
    color: #333133;
    font-family: 'Roboto', sans-serif;
    text-align: right;
}

.buy
{
    margin-top: 10px;
    width: 35px     !important;
}

.header
{
    margin: auto;
    display: block;
    background-image: url('../img/ban.jpg');
    width:100%;
    height: 300px;
    background-repeat: no-repeat;
    background-color: #161416;
    background-position: 50% 50%;
}

.menu, .menu ul
{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.menu a
{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: block;
    padding: 8px 32px;
    color: #333133;
    background-color: whitesmoke;
    border-radius: 2px;
}

.menu li
{
    display: inline-block;
    position: relative;
    border-radius: 5px;
}

.menu ul li
{
    display: inherit;
    border-radius: 0;
}

.menu ul
{
    position: absolute;
    z-index: 1000;
    max-height: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -moz-transition: .3s all .3s;
    -webkit-transition: .3s all .3s;
    transition: .3s all .3s;
}

.menu li:hover ul
{
    max-height: 15em;
}

.menu ul li a:hover
{
    background-color: #333133;
    color: whitesmoke;
}

.content
{
  position: relative;
    width: 100%;
    margin: 20px auto;
}

.new_products
{
    display: flex;
    justify-content: space-around;
}

.connect
{
    margin: auto;
    padding: 20px;
    width: 70%;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #898789;
    height: 100%;
}

form
{
    margin: auto;
    width: 40%;
}

form span a
{
    text-decoration: none;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: red;
}

.row
{
    position: relative;
    margin: auto;
    width: 100%;
    height: 30px;
}

input[type=submit]
{
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    border: none;
    box-shadow: 1px 1px 1px #898789;
    background-color: #E8FBE8;
    position: absolute;
    right: 25%;
    height: 40px;
    width: 100px;
    bottom: -10px;
}

.col_left
{
    float: left;
}

.col_right
{
    float: right;
}

.articles
{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.indabasket
{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    border: 1px solid whitesmoke;
    box-shadow: 1px 1px 1px #898789;
    position: absolute;
    bottom: 20px;
    left: 40%;
    height: 60px;
    width: 60px;
}

.one
{
    position: relative;
    text-align: center;
    margin: 20px 0;
    height: 350px;
    width: 250px;
    padding: 20px;
    border-radius: 3px;
    border: none;
    box-shadow: 1px 1px 3px #898789;
}

.one a
{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #333133;
}

.one img
{
    width: 200px;
}

.one_article
{
    font-family: 'Roboto', sans-serif;
    position: relative;
    text-align: center;
    margin: 20px auto;
    height: 450px;
    width: 80%;
    padding: 20px;
    border-radius: 3px;
    border: none;
    box-shadow: 1px 1px 3px #898789;
}

.one_article img
{

}

.one_pdt
{
    margin-top: 30px;
}
